body {
  font-family: "Georgia Bold", sans-serif;
  font-size: 10;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 30px;
}

#button {
  text-align: center;
  padding: 7px;
  color: black;
  background-color: transparent;
}